# Introduction to tools and packages to implement EDA

# Data Repositories

# Reading and storing Data

# Summary Statistics: Implement Measures of Central Tendency and Dispersion on data

# Analyse the nature and shape of Data Distributions

# Tools to summrize data
rize data
ups


ups

# Introduction to tools and packages to implement EDA#

**Exploratory Data Analysis Tool
Exploratory Data Analysis (EDA) leverages various tools to unravel the insights hidden within data. These tools are not just about processing data; they are enablers that transform raw numbers into insights. The power of EDA lies in its tools, and understanding them is key to any data analyst's success.**

**Python Libraries:** Python, a leading language in data science, offers libraries like Pandas for data manipulation, NumPy for numerical computations, Matplotlib for plotting graphs, and Seaborn for advanced visualizations. These libraries work in tandem to provide a comprehensive EDA toolkit.

**Jupyter Notebooks:** For interactive analysis, Jupyter Notebooks are invaluable. They allow data scientists to write and execute code, visualize results, and document their processes in a seamless, interactive environment.s
Exploratory Data Analysis (EDA) leverages various tools to unravel the insights hidden within data. These tools are not just about processing data; they are enablers that transform raw numbers into insights. The power of EDA lies in its tools, and understanding them is key to any data analyst's success.

**Python Libraries:** Python, a leading language in data science, offers libraries like Pandas for data manipulation, NumPy for numerical computations, Matplotlib for plotting graphs, and Seaborn for advanced visualizations. These libraries work in tandem to provide a comprehensive EDA toolkit.

# **Python libraries
## General Packages**
## DataPrep (pip library) - data preparation library with an EDA package. Paper about the package

## Dora (pip library) - data cleaning, featuring engineering and simple modeling tools.

## statsModels (pip library) - collection of statistical tools, including EDA.

## TPOT (pip library) - autoML tool with feature engineering module.

## HoloViews (pip library) - automated visualization based on short data annotations.

## lens (pip library) - fast calculation of summary statistics and correlations. Presentation about the library.

## pandas-profiling - popular library for quick data summaries and correlation analysis.

## speedML (pip library) - large library for ML with module dedicated to fast EDA.

## edaviz - Python library for fast data exploration that provides functions for dataset overviews, bivariate plots and finding good predictors. (Free version only works for small datasets).

## AutoViz - Python library for automated visualization.

## ExploriPy - Python library for various EDA tasks.
 
## pandas-summary - simple extension to pandas.describe.

## sweetviz - visualizations for automated EDA.

Related packages
## featuretools - library for automated feature engineering.

## pyvtreat - Python version of the R's vtreat package.

## autoimpute - easier handling of missing values.

## Auto_TS - automated time series modeling.

# MODULES AND PACKAGES
Module: file containing variables, functions, etc. that can be imported into a Python session with the import statement

Package: directory of modules that perform similar tasks (e.g. data visualization, statistics, etc.)
Thousands upon thousands of Python packages available - that do just about anything!

# BUILT-IN PACKAGES
Many packages are included in stdlib, the standard library that ships with Python
Popular modules: re for regular expressions; os for operating system functions; random for random-number generation; and many more. Full list: https://docs.python.org/3/library/

# NUMPY
Extension to Python; the core Python package for numerical computing
Standard import: import numpy as np
Data structure: the NumPy array. Sort of like a list - but with more methods, and can be multidimensional

# PANDAS
Built on top of NumPy; adds support for table-like data structures in Python
Standard import: import pandas as pd
Sequences of data are stored as Series objects, which collectively form DataFrames

In [1]:
# importing pandas as pd
import pandas as pd

# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

# dictionary of lists
dict = {'name': nme, 'degree': deg, 'score': scr}
	
df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

Export CSV to a working directory
Here, we simply export a Dataframe to a CSV file using df.to_csv().

In [2]:
# saving the dataframe
df.to_csv('file1.csv')

Saving CSV without headers and index. 
Here, we are saving the file with no header and no index number.

In [3]:
# saving the dataframe
df.to_csv('file2.csv', header=False, index=False)

In [4]:
import pandas as pd
import numpy as np

users = {'Name': ['Amit', 'Cody', 'Drew'],
	'Age': [20,21,25]}

#create DataFrame
df = pd.DataFrame(users, columns=['Name','Age'])

print("Original DataFrame:")
print(df)
print('Data from Users.csv:')

df.to_csv('Users.csv', sep='\t', index=False,header=True)
new_df = pd.read_csv('Users.csv')

print(new_df)

Original DataFrame:
   Name  Age
0  Amit   20
1  Cody   21
2  Drew   25
Data from Users.csv:
  Name\tAge
0  Amit\t20
1  Cody\t21
2  Drew\t25

In [5]:
import numpy as np

y = np.array([[2, 4, 6, 8, 10, 12], 
             [1, 3, 5, 7, 9, 11], 
             [10, 12, 14, 18, 22, 14], 
             [9, 3, 3, 3, 3, 1]])

In [6]:
import pandas as pd

df = pd.DataFrame(y, columns = ['x' + str(num) for num in range(1, 7)])

# Data Repositories on the web:
Google Dataset Search — a search engine for researchers to locate online data.

datasetlist — offers a list of the biggest machine learning datasets from across the web.
UCI — one of the oldest repositories with data classified by types of problems, attributes type, data type, the field of study, etc.

fastai-datasets — datasets for Image classification, NLP and Image localization

NLP-datasets — Alphabetical list of free/public domain datasets with text data for use in Natural Language Processing

Bifrost — for visual datasets classified by task, application, class, label, and format.

ImageNet — ImageNet is an image database organized according to the WordNet hierarchy (currently only the nouns), in which each node of the hierarchy is depicted by hundreds and thousands of images.

CT Medical Images — designed to allow for different methods to be tested for examining the trends in CT image data associated with using contrast and patient age. The data consists of a tiny subset of images from the cancer imaging archive.

Flickr-faces — Flickr-Faces-HQ (FFHQ) is a high-quality image dataset of human faces, originally created as a benchmark for generative…

#  Reading and storing Data
Import all of the libraries needed for our investigation, including those for data loading, statistical analysis, visualizations, univariate and bivariate analysis, etc.

In [7]:


# importting Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

In [8]:


# loading and reading dataset
df = pd.read_csv("winequality-red.csv")
print(df.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5

 # Measuring Central Tendency

Mathematically central tendency means measuring the center or distribution of location of values of a data set. It gives an idea of the average value of the data in the data set and also an indication of how widely the values are spread in the data set. That in turn helps in evaluating the chances of a new input fitting into the existing data set and hence probability of success.

There are three main measures of central tendency which can be calculated using the methods in pandas python library.

Mean - It is the Average value of the data which is a division of sum of the values with the number of values.

Median - It is the middle value in distribution when the values are arranged in ascending or descending order.

Mode - It is the most commonly occurring value in a distribution.

Calculating Mean and Median
The pandas functions can be directly used to calculate these values.

Data Science enables practitioners to do various mathematical operations on data, to get the best insight of the data and with desired output objective. Not just to mention but with python, it becomes more exciting to do operations on data.

Generally, in Mathematical terms central tendency means the center of the distribution, it enables to get the idea of the average value with the indication of how widely the values are spread. There are three main measures of central tendency, which can be calculated using Pandas in the Python library, namely,

Mean
Median
Mode
Mean can be defined as the average of the data observation, calculated by adding up all the number in the data and dividing it by the total number of data terms. Mean is preferred when the data is normally distributed.

Mean= x̄ = ∑x/ N

Median can be defined as middle number data in a given set of observations, calculated by arranging the data in the required order and the middle data is taken out. Median is best used when data is skewed.

Median = (n + 1/2)th observation  if the total observation is odd. 

Mode can be defined as the highest frequency occurring number in a given set of datasets, if there is a unique dataset then there is no mode at all.

MEAN
Creating the dataset

In [27]:
import pandas as pd

# Creating the dataframe of student's marks
df = pd.DataFrame({"John - Marks ":[98,87,76,88,96],
				"Adam - Marks":[88,52,69,79,80],
				"David - Marks":[90,92,71,60,64],
				"Rahul - Marks":[88,85,79,81,91]})

# Printing the dataframe
df

   John - Marks   Adam - Marks  David - Marks  Rahul - Marks
0             98            88             90             88
1             87            52             92             85
2             76            69             71             79
3             88            79             60             81
4             96            80             64             91

Calculating the Mean using the above dataset,

In [28]:
df.mean(axis = 0)

John - Marks     89.0
Adam - Marks     73.6
David - Marks    75.4
Rahul - Marks    84.8
dtype: float64

MEDIAN
Creating the dataset

In [29]:
import pandas as pd

# Creating the dataframe of student's marks
df = pd.DataFrame({"John - Marks ":[98,87,76,88,96],
				"Adam - Marks":[88,52,69,79,80],
				"David - Marks":[90,92,71,60,64],
				"Rahul - Marks":[88,85,79,81,91]})

# Printing the dataframe
df

   John - Marks   Adam - Marks  David - Marks  Rahul - Marks
0             98            88             90             88
1             87            52             92             85
2             76            69             71             79
3             88            79             60             81
4             96            80             64             91

In [30]:
df.median(axis = 0)

John - Marks     88.0
Adam - Marks     79.0
David - Marks    71.0
Rahul - Marks    85.0
dtype: float64

In [31]:
import pandas as pd

# Creating the dataframe of student's marks
df1 = pd.DataFrame({"John - Marks ":[98,87,87,76,88],
				"Adam - Marks":[88,52,69,79,79],
				"David - Marks":[90,92,71,71,64],
				"Rahul - Marks":[88,85,85,81,91]})

# Printing the dataframe
df1

   John - Marks   Adam - Marks  David - Marks  Rahul - Marks
0             98            88             90             88
1             87            52             92             85
2             87            69             71             85
3             76            79             71             81
4             88            79             64             91

In [32]:
df1.mode()

   John - Marks   Adam - Marks  David - Marks  Rahul - Marks
0             87            79             71             85



FAQs on Measures of Central Tendency
1. What is a Measure of Central Tendency in Statistics?
Measure of Central Tendency of a dataset represent a central value or a typical value for a dataset which can be used to do further analysis on the data.

2. What is the Mean?
Mean is the Average value of the dataset and can be calculated Arithmetically, Geometrically, and Harmonically as well. Generally by term “mean” means the arithmetic mean of the data.

3. When is the Mean a good measure of Central Tendency?
Mean is a good measure of central tendency when data is normally distributed and there is no extreme values or outliers in the dataset.

4. What is the Median?
Median is the middle value of the data set when arranged in increasing or decreasing order i.e., in either ascending or desending order there are equal number of observations on both sides of median.

5. When is the Median a good measure of Central Tendency?
The median is a good measure of central tendency when dataset is skewed or there are extreme values or outliers in the dataset.

6. What is the Mode?
Mode is highest frequency observation of the given dataset.

7. When is the Mode a good measure of Central Tendency?
The mode is a good measure of central tendency when there are clear peaks in the dataset of frequencies of observations.

8. Can a dataset have more than one mode?
Yes, a dataset can have more than one mode as there can be two observations with same number of highest frequencies.

9. What is the purpose of central tendency?
The primary goal of central tendency is to offer a single value that effectively represents a set of collected data. This value aims to capture the core or typical aspect of the data, providing a concise summary of the overall information.