
# Tools to summarize data:
o	Pivots, Filters, lookups
Exploring Pandas in Python: Filter and Pivot Operations with Sample Data
Pandas is a powerful data manipulation library in Python, and the filter and pivot functions are useful tools for working with DataFrame objects. Let's go through each of them using sample data.

In [1]:
import pandas as pd

# Sample Data
data = {
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
         Date Category  Value
0  2023-01-01        A     10
1  2023-01-01        B     20
2  2023-01-02        A     30
3  2023-01-02        B     40

This creates a simple DataFrame with columns ‘Date’, ‘Category’, and ‘Value’. Now, let’s explore filter and pivot.

Filter
The filter function is used to subset the DataFrame based on column labels. You can use it to select specific columns.

In [2]:
# Filtering columns
filtered_df = df.filter(items=['Date', 'Value'])
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
         Date  Value
0  2023-01-01     10
1  2023-01-01     20
2  2023-01-02     30
3  2023-01-02     40

This will result in a DataFrame containing only the ‘Date’ and ‘Value’ columns.

# Example 1: Filtering Rows Based on a Condition
You can use filter to select rows that meet a specific condition. For example, let's filter rows where the 'Value' is greater than 20.

In [3]:
# Filtering rows based on a condition
filtered_rows = df[df['Value'] > 20]
print("\nFiltered Rows:")
print(filtered_rows)

Filtered Rows:
         Date Category  Value
2  2023-01-02        A     30
3  2023-01-02        B     40

# Example 2: Using like Parameter
The like parameter allows you to select columns based on partial string matching. For example, let's select columns that contain the string 'Dat'.

In [4]:
# Using the like parameter
selected_columns = df.filter(like='Dat')
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
         Date
0  2023-01-01
1  2023-01-01
2  2023-01-02
3  2023-01-02

# Example 3: Using regex Parameter
The regex parameter enables you to use regular expressions to match column names. Let's select columns that start with 'C' or 'V'.

In [5]:
# Using the regex parameter
selected_columns_regex = df.filter(regex='^C|^V')
print("\nSelected Columns with Regex:")
print(selected_columns_regex)

Selected Columns with Regex:
  Category  Value
0        A     10
1        B     20
2        A     30
3        B     40

# Example 4: Filtering Columns Based on a List
You can use filter to select columns based on a list of column names.

In [6]:
# Filtering columns based on a list
selected_columns_list = df.filter(items=['Date', 'Value'])
print("\nSelected Columns with List:")
print(selected_columns_list)

Selected Columns with List:
         Date  Value
0  2023-01-01     10
1  2023-01-01     20
2  2023-01-02     30
3  2023-01-02     40

# Example 5: Using items Parameter
The items parameter can be used to select columns based on a list of substrings

In [7]:
# Using the items parameter
selected_columns_items = df.filter(items=['Date', 'Val'])
print("\nSelected Columns with Items:")
print(selected_columns_items)

Selected Columns with Items:
         Date
0  2023-01-01
1  2023-01-01
2  2023-01-02
3  2023-01-02

These examples showcase different ways to use the filter function in Pandas for both column and row selection based on various conditions and criteria.

# Pivot
The pivot function is used to reshape the DataFrame by pivoting the values in one column into new columns. Let's pivot the data based on the 'Category' column.

In [8]:
# Pivoting the DataFrame
pivot_df = df.pivot(index='Date', columns='Category', values='Value')
print("\nPivoted DataFrame:")
print(pivot_df)

Pivoted DataFrame:
Category     A   B
Date
2023-01-01  10  20
2023-01-02  30  40

This will create a new DataFrame where unique values in the ‘Category’ column become new columns, and the ‘Value’ column provides the corresponding values.

# Pivot Table
If you have duplicate entries for a combination of index and columns in the pivot operation, you can use the pivot_table function with an aggregation function to handle the duplicates. Let's add another entry for '2023-01-01' and 'Category' 'A' to demonstrate this.

In [13]:
# Adding a duplicate entry
#df = df.append({'Date': '2023-01-01', 'Category': 'A', 'Value': 15}, ignore_index=True)

# Using pivot_table to handle duplicates
pivot_table_df = df.pivot_table(index='Date', columns='Category', values='Value', aggfunc='sum')
print("\nPivot Table DataFrame:")
print(pivot_table_df)

Pivot Table DataFrame:
Category     A   B
Date
2023-01-01  10  20
2023-01-02  30  40

This will create a pivot table where the values are aggregated using the sum function for duplicate entries.

# Example 1: Multi-level Indexing
You can create a multi-level index by passing a list of columns to the index parameter.

In [14]:
# Using pivot with multi-level indexing
multi_level_pivot = df.pivot(index=['Date', 'Category'], columns='Value')
print("\nMulti-level Index Pivot:")
print(multi_level_pivot)

Multi-level Index Pivot:
Empty DataFrame
Columns: []
Index: [(2023-01-01, A), (2023-01-01, B), (2023-01-02, A), (2023-01-02, B)]

This creates a DataFrame with a multi-level index based on ‘Date’ and ‘Category’.

# Example 2: Handling Missing Values with fillna
You can use the fillna function to replace missing values after pivoting.

In [16]:
# Adding a duplicate entry
#df = df.append({'Date': '2023-01-01', 'Category': 'A', 'Value': 15}, ignore_index=True)

# Using groupby and pivot_table to handle duplicates
pivot_fillna = df.groupby(['Date', 'Category'])['Value'].sum().unstack(fill_value=0)
print("\nPivot with Missing Values Filled:")
print(pivot_fillna)

Pivot with Missing Values Filled:
Category     A   B
Date
2023-01-01  10  20
2023-01-02  30  40

# Example 3: Aggregating with aggfunc
The aggfunc parameter allows you to specify an aggregation function for duplicate entries. Let's use the aggfunc parameter to calculate the average value for duplicate entries.

In [17]:
# Using pivot_table to calculate the average for duplicate entries
pivot_avg = df.pivot_table(index='Date', columns='Category', values='Value', aggfunc='mean')
print("\nPivot Table with Average for Duplicate Entries:")
print(pivot_avg)

Pivot Table with Average for Duplicate Entries:
Category       A     B
Date
2023-01-01  10.0  20.0
2023-01-02  30.0  40.0

# Example 4: Resetting Index after Pivot
To reset the index after pivoting, you need to use pivot_table with an aggregation function for duplicate entries.

In [18]:
# Using pivot_table to handle duplicate entries and resetting index
pivot_table_df = df.pivot_table(index='Date', columns='Category', values='Value', aggfunc='sum')
pivot_reset_index = pivot_table_df.reset_index()
print("\nPivot Table with Reset Index:")
print(pivot_reset_index)

Pivot Table with Reset Index:
Category        Date   A   B
0         2023-01-01  10  20
1         2023-01-02  30  40

# Example 5: Pivoting with Multiple Value Columns
You can pivot on multiple value columns by specifying a list for the values parameter.

In [19]:
# Sample Data with an additional 'Value2' column
data = {
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40],
    'Value2': [100, 200, 300, 400]
}

df = pd.DataFrame(data)

# Pivoting with multiple value columns
multi_value_pivot = df.pivot(index='Date', columns='Category', values=['Value', 'Value2'])
print("\nPivot with Multiple Value Columns:")
print(multi_value_pivot)

Pivot with Multiple Value Columns:
           Value     Value2
Category       A   B      A    B
Date
2023-01-01    10  20    100  200
2023-01-02    30  40    300  400

# How to Do a vLookup in Python using pandas:
Vlookup is essentially used for vertically arranged data. Vlookup is an operation used to merge 2 different data tables based on some condition where there must be at least 1 common attribute(column) between the two tables. After performing this operation we get a table consisting of all the data from both the tables for which the data is matched.
We can use merge() function to perform Vlookup in pandas. The merge function does the same job as the Join in SQL We can perform the merge operation with respect to table 1 or table 2.There can be different ways of merging the 2 tables.
Let’s consider 2 tables on which the operation is to be performed. 1st table consists of the information of students and 2nd column consists of the information of the respective Courses they are enrolled in. The below code tells the information contained in both the tables.

In [10]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('annual-enterprise-survey-2021-financial-year-provisional-csv.csv') 
df2 = pd.read_csv('annual-enterprise-survey-2021-financial-year-provisional-size-bands-csv.csv') 

print(df1) 
print(df2)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2021                     Level 1                99999
1      2021                     Level 1                99999
2      2021                     Level 1                99999
3      2021                     Level 1                99999
4      2021                     Level 1                99999
...     ...                         ...                  ...
41710  2013                     Level 3                 ZZ11
41711  2013                     Level 3                 ZZ11
41712  2013                     Level 3                 ZZ11
41713  2013                     Level 3                 ZZ11
41714  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
41710  Food product manufacturing          Percentage           H37
41711  Food product manufacturing          Percentage           H38
41712  Food product manufacturing          Percentage           H39
41713  Food product manufacturing          Percentage           H40
41714  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
41710                                      Quick ratio       Financial ratios
41711              Margin on sales of goods for resale       Financial ratios
41712                                 Return on equity       Financial ratios
41713                           Return on total assets       Financial ratios
41714                            Liabilities structure       Financial ratios

         Value                             Industry_code_ANZSIC06
0      757,504  ANZSIC06 divisions A-S (excluding classes K633...
1      674,890  ANZSIC06 divisions A-S (excluding classes K633...
2       49,593  ANZSIC06 divisions A-S (excluding classes K633...
3       33,020  ANZSIC06 divisions A-S (excluding classes K633...
4      654,404  ANZSIC06 divisions A-S (excluding classes K633...
...        ...                                                ...
41710       52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41711       40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41712       12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41713        5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41714       46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[41715 rows x 10 columns]
       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
17023  2021                  all                     All Industries
17024  2021                  all                     All Industries
17025  2021                  all                     All Industries
17026  2021                  all                     All Industries
17027  2021                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
17023  j_Grand_Total                                     Total income
17024  j_Grand_Total                                Total expenditure
17025  j_Grand_Total                      Operating profit before tax
17026  j_Grand_Total                                     Total assets
17027  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
17023   757504  DOLLARS(millions)
17024   654404  DOLLARS(millions)
17025    85116  DOLLARS(millions)
17026  2512677  DOLLARS(millions)
17027   591351  DOLLARS(millions)

[17028 rows x 7 columns]

# Performing a Vlook on different types of Joins
 

Inner join: Inner join produces an output data frame of only those rows for which the condition is satisfied in both the rows. To perform inner join you may specify inner as a keyword in how.

In [5]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv') 

Left_join = pd.merge(df1, 
					df2, 
					on ='LOAN_NO', 
					how ='BRANCH_NM	') 
Left_join

KeyError: 'BRANCH_NM\t'

This code performs the following:

Imports pandas library: This library provides tools for data analysis and manipulation.
Creates sample data: A DataFrame is created with columns 'Product', 'Price', and 'Customer'.
PivotTable: Groups data by 'Product' and calculates the sum of 'Price' for each product category.
Filter: Creates a new DataFrame containing rows where 'Price' is greater than 5.
Lookup: Defines a function price_category to assign a category ('Low', 'Medium', or 'High') based on the price range. A new column 'Category' is added to the DataFrame using the apply function and the defined function.
This demonstrates how Pandas can be used for data summarization tasks using Pivots, Filters, and Lookups. You can adapt this code to your specific data and desired summarization requirements.

In [6]:
import pandas as pd

# Sample data
data = {'Product': ['Book', 'Pencil', 'Book', 'Pen', 'Pencil'],
        'Price': [10, 1, 20, 5, 2],
        'Customer': ['Alice', 'Bob', 'Charlie', 'David', 'Alice']}

df = pd.DataFrame(data)

# PivotTable (Summarize by Product)
product_pivot = df.pivot_table(values='Price', index='Product', aggfunc=sum)
print("PivotTable (Product wise sum of Price): \n", product_pivot)

# Filter (Price greater than 5)
filtered_df = df[df['Price'] > 5]
print("\nFiltered data (Price > 5): \n", filtered_df)

# Lookup (Add 'Category' column based on price range)
def price_category(price):
  if price <= 5:
    return 'Low'
  elif price <= 10:
    return 'Medium'
  else:
    return 'High'

df['Category'] = df['Price'].apply(price_category)
print("\nLookup (Price Category): \n", df)

PivotTable (Product wise sum of Price):
          Price
Product
Book        30
Pen          5
Pencil       3

Filtered data (Price > 5):
   Product  Price Customer
0    Book     10    Alice
2    Book     20  Charlie

Lookup (Price Category):
   Product  Price Customer Category
0    Book     10    Alice   Medium
1  Pencil      1      Bob      Low
2    Book     20  Charlie     High
3     Pen      5    David      Low
4  Pencil      2    Alice      Low

C:\Users\admin\AppData\Local\Temp\ipykernel_4492\3959552780.py:11: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  product_pivot = df.pivot_table(values='Price', index='Product', aggfunc=sum)

# How to Do a vLookup in Python using pandas
Last Updated : 06 Aug, 2021
Vlookup is essentially used for vertically arranged data. Vlookup is an operation used to merge 2 different data tables based on some condition where there must be at least 1 common attribute(column) between the two tables. After performing this operation we get a table consisting of all the data from both the tables for which the data is matched.
We can use merge() function to perform Vlookup in pandas. The merge function does the same job as the Join in SQL We can perform the merge operation with respect to table 1 or table 2.There can be different ways of merging the 2 tables.

In [7]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv') 

print(df1) 
print(df2)

  LOAN_NO BRANCH_NM  AMOUNT
0    l-02      HDFC  100000
1    l-01       SBI  200000
2    l-03       BOI  400000
3    l-04      HDFC  500000
4    l-05      Axis  600000
  CUSTOMER_NM LOAN_NO
0           C    l-05
1           B    l-03
2           A    l-01

# Performing a Vlook on different types of Joins
 

Inner join: Inner join produces an output data frame of only those rows for which the condition is satisfied in both the rows. To perform inner join you may specify inner as a keyword in how.
Example:

In [8]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv') 

inner_join = pd.merge(df1, 
					df2, 
					on ='LOAN_NO', 
					how ='inner') 
inner_join

  LOAN_NO BRANCH_NM  AMOUNT CUSTOMER_NM
0    l-01       SBI  200000           A
1    l-03       BOI  400000           B
2    l-05      Axis  600000           C

Left join: Left join operation provides all the rows from 1st dataframe and matching rows from the 2nd dataframe. If the rows are not matched in the 2nd dataframe then they will be replaced by NaN.
Example:

In [9]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv') 

Left_join = pd.merge(df1, 
					df2, 
					on ='LOAN_NO', 
					how ='left') 
Left_join

  LOAN_NO BRANCH_NM  AMOUNT CUSTOMER_NM
0    l-02      HDFC  100000         NaN
1    l-01       SBI  200000           A
2    l-03       BOI  400000           B
3    l-04      HDFC  500000         NaN
4    l-05      Axis  600000           C

Right join: Right join is somewhat similar to left join in which the output dataframe will consist of all the rows from the 2nd dataframe and matching rows from the 1st dataframe. If the rows are not matched in 1st row then they will be replaced by NaN

In [10]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv') 

Right_join = pd.merge(df1, 
					df2, 
					on ='LOAN_NO', 
					how ='right') 
Right_join

  LOAN_NO BRANCH_NM  AMOUNT CUSTOMER_NM
0    l-05      Axis  600000           C
1    l-03       BOI  400000           B
2    l-01       SBI  200000           A

Outer join: Outer join provides the output dataframe consisting of rows from both the dataframes. Values will be shown if rows are matched otherwise NaN will be shown for rows that do not match.
Example:

In [17]:
# import pandas 
import pandas as pd 

# read csv data 
df1 = pd.read_csv('loan.csv') 
df2 = pd.read_csv('borrower.csv')  

Outer_join = pd.merge(df1, 
					df2, 
					on ='LOAN_NO', 
					how ='outer') 
Outer_join

  LOAN_NO BRANCH_NM  AMOUNT CUSTOMER_NM
0    l-02      HDFC  100000         NaN
1    l-01       SBI  200000           A
2    l-03       BOI  400000           B
3    l-04      HDFC  500000         NaN
4    l-05      Axis  600000           C